/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header-container {
  width: 100%;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.header-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header-text-top h1 {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  text-align: center;
  z-index: 1;
  font-size: 8vw;
  white-space: nowrap;
  font: helvetica;
  margin: 0;
  padding: 0.2em 0;
}

.header-text-top p {
  position: absolute;
  top: 3em;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  text-align: center;
  z-index: 1;
  font-size: 3vw;
  white-space: nowrap;
}

.header-text-bottom {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  text-align: center;
  z-index: 1;
  font-size: 2vw;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  box-sizing: border-box;
  /* margin-top: calc(var(--header-height));
  padding-top: calc(var(--header-height) - 16vh); */
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  padding-top:70%;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, auto); 
  gap: 1em;
  width: auto;
  padding: 1.7em;
}

.box {
  position: relative;
  background-color: #4a4a4a;
  width: 30vw;
  height: 25vh;
  padding: 1em;
  border-radius: 8px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  overflow: hidden;

}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.box p {
  top: 3em;
  color: white;
  font: helvetica;
}
.button-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5em;
  z-index: 1;
}

.order-btn {
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.6em 2em;
  font-size: 0.7em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.order-btn:hover {
  border-color: #646cff;
}
.order-btn:focus,
.order-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.speaker-btn {
  background: transparent;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  padding: 0;
}
.speaker-btn:hover {
  border-color: #646cff;
}
.speaker-btn:focus,
.speaker-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
